<footer>
  <div class="footer_nav_links_container">
    <ul class="footer_nav_links">
      <li><a href="/">Acceuil</a></li>
      <li><a href="/catalogue">Catalogue</a></li>
      <li><a href="/about">Qui sommes-nous</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/cart">Panier</a></li>
    </ul>
  </div>
  <p class="footer_copyright">O'Coffee © 2024</p>
</footer>
</body>
</html>