<%- include('./partials/header.ejs') %>
<main>
  <img
    class="not-found-img"
    src="../assets/404.png"
    alt="éclaboussure de café"
  />
  <h2 class="not-found-title">...404... <br> <span>OUTCH ! Je me suis brûlé ! Il est trop chaud ce café ! Mais vous faites quoi ici, allé ça dé... euh excusez-moi Page non trouvée</span></h2>
</main>
<%- include('./partials/footer.ejs') %>
