<%- include('./partials/header.ejs') %>

<main>
  <section class="section presentation">
    <article class="presentation_txt">
      <h2 class="section_title">
        Bienvenue chez <span>O'Coffee,</span> <br />
        votre expert du café !
      </h2>
      <p class="section_subtitle">
        Découvrez un univers où chaque tasse de café raconte une histoire
        unique. Fondée par Jean et Jacques Pepper, notre boutique célèbre l'art
        et la passion du café. Plongez dans une ambiance chaleureuse et
        laissez-vous guider par nos experts vers une expérience café
        inoubliable.
      </p>
      <a class="btn_link" href="/catalogue">Voir le catalogue</a>
    </article>
    <img
      class="presentation_img"
      src="/assets/about.jpg"
      alt="image de grain de café"
    />
  </section>
  <section class="section news">
    <h2 class="news_title">Nouveautés</h2>
    <div class="news_slide_container">
      <button class="slide_btn prev" aria-label="Previous slide">
        &#10094;
      </button>
      <div class="news_card_container" aria-label="News card container">
        <% newsCoffees.forEach(coffee => { %> <%-
        include('./partials/coffee-card.ejs', {coffee}) %> 
        <% }); %>
      </div>
      <button class="slide_btn next" aria-label="Next slide">&#10095;</button>
    </div>
  </section>
</main>

<%- include('./partials/footer.ejs') %>
